@import "~@material/react-radio/index";
@import "~@material/react-button/index";
@import "~@material/react-ripple/index";
@import "~@material/react-tab-bar/index";
@import "~@material/react-tab-scroller/index";
@import "~@material/react-tab/index";
@import "~@material/react-tab-indicator/index";
@import "~@material/react-switch/index.scss";
@import "~@material/slider/mdc-slider";

.App {
  text-align: center;
  height: 100vh;
  overflow: hidden;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

@font-face {
  font-family: "Polya";
  src: url("assets/font/Rustico-Regular.otf");
}

.App-header {
  //background-color: #282c34;
  background-size: cover;
  background-attachment: fixed;
  height: calc(100vh - 48px - 48px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  position: relative;
  //cursor: none;
  overflow: hidden;
}

.image-background {
  position: fixed;
  min-width: 100vw;
  min-height: 100vh;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.App-link {
  color: #61dafb;
}

.content {
  margin-right: 2em;
  margin-left: 2em;
  text-align: left;
  position: fixed;
  text-shadow: black 0 0 3px;
  top: 5%;
  left: 5%;
}

.content .title {
  text-align: center;
}

.content .bold {
  font-weight: bold;
}

.content .center-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  height: auto;
}

.content h1 {
  font-family: "Polya", sans-serif;
  color: lightgray;
  font-size: calc(100px + 2vmin);
}

.content h2 {
  font-family: "Polya", sans-serif;
  font-size: calc(25px + 2vmin);
}

.content h3 {
  font-family: "Polya", sans-serif;
  font-size: calc(20px + 2vmin);
}

.text-hidden {
  color: transparent;
  text-decoration: underline white;
  text-shadow: none;
}

.text-shown {
  color: red;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 1rem;
  z-index: 2;
  position: relative;
  background-color: white;

  .slider {
    flex: 7;
    border-radius: 8px;
  }

  .switch {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
}
